.Token {
    width: 100%;
    min-width: 320px;
    padding: 48px 40px 0px;
}
.Token_box {
   max-width: 1200px;
   margin: 0px auto 16px;
}
.Token_title {
    display: flex;
    max-width: 1200px;
    margin: 0px auto 16px;
    color: rgb(206, 206, 206);
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-top: 40px;
}

.Token_title_left_token {
    display: flex;
    gap: 32px;
    cursor: pointer;
}
.active {
    color: black;
}
.Token_title_left_token div {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 400;
    font-size: 28px;
}
.Token_title_right {
    display: flex;
    align-items: center;
    gap: 8px;
}
.Token_title_right_box {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: .5rem;
    height: 40px;
    border-radius: 1rem;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
}

.Token_title_right_volume {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: .5rem;
    height: 40px;
    border-radius: 1rem;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    min-width: 100px;
}
.Token_title_right_volume_active {
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: .5rem;
    height: 40px;
    border-radius: 1rem;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #efefef;
}
.active_volume_check {
    color: #fc7fff;
}
.Token_title_right_volume_box {
    min-width: 150px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(51, 53, 72, 0.04) 8px 12px 20px, rgba(51, 53, 72, 0.02) 4px 6px 12px, rgba(51, 53, 72, 0.04) 4px 4px 8px;
    border: 0.5px solid rgba(34, 34, 34, 0.07);
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
    position: absolute;
    top: 48px;
    z-index: 1000;
    animation: 125ms ease-in-out 0s 1 normal none running hYPVna;
    scrollbar-width: thin;
    scrollbar-color: rgba(34, 34, 34, 0.07) transparent;
    max-height: 300px;
    left: 0px;
}

.Token_title_right_volume_box div {
    display: flex;
    flex: 1 1 0%;
    padding: 12px 8px;
    gap: 12px;
    color: rgb(34, 34, 34);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
}

.Token_title_right_volume_box div:hover {
    background-color: #efefef;
}

.Token_title_right_volume_box_item_active {
    
}

.Token_title_right_search{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: .5rem;
    height: 40px;
    border-radius: 1rem;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
}
.Token_title_right_search:hover {
    border: 1px solid #fd9bff;
}
.Token_title_right_search_icon {
    font-size: 20px;
}

.Token_title_right_search input {
    outline: none;
    border: none;
}

.Token_box_table {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.Token_head {
    top: 72px;
    position: sticky;
    z-index: 9;
    background: rgb(255, 255, 255);
}

.Token_head_box {
    display: flex;
    border: 1px solid rgba(34, 34, 34, 0.07);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    overflow: auto;
    width: unset;
    min-height: 52px;
    background: rgb(249, 249, 249);
    scrollbar-width: none;
    overscroll-behavior: none;
    padding: 0px 12px;
    margin-right: auto;
    
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.Token_head_box_price:hover {
    cursor: pointer;
    opacity: 0.4;
}
.Token_head div:nth-child(7) {
    justify-content: center;
}
.Token_head div:nth-child(8) {
    justify-content: flex-start;
}
.Token_head div:nth-child(1) {
    overflow-x: auto;
    min-width: 44px;
    flex: 0 1 0%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    font-variant-numeric: lining-nums tabular-nums;
    padding: 12px 8px;
}

.Token_head div:nth-child(2){
    width: 240px;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: start;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-variant-numeric: lining-nums tabular-nums;
    overflow: hidden;
    padding: 12px 8px
}

.Token_head div {
    min-width: 133px;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    font-variant-numeric: lining-nums tabular-nums;
    overflow: hidden;
    padding: 12px 8px;
}

.Token_body {
    width: 100%;
    position: relative;
    overflow-x: auto;
    overscroll-behavior-x: none;
    border-right: 1px solid rgba(34, 34, 34, 0.07);
    border-bottom: 1px solid rgba(34, 34, 34, 0.07);
    border-left: 1px solid rgba(34, 34, 34, 0.07);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    scrollbar-width: none;
    padding: 0px 12px;
    overflow-y: auto; 
}
.Token_body_flex {
    display: flex;
}
.Token_body_el {
    width: fit-content;
    min-width: 87%;
    display: flex;
    min-height: 64px;
    text-decoration: none;
    color: black;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;

    box-sizing: border-box;
    margin: 0px;
}
.Token_body_el div:nth-child(1) {
    min-width: 44px;
    flex: 0 1 0%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-variant-numeric: lining-nums tabular-nums;
    overflow: hidden;
    padding: 12px 8px;
}
.Token_body_el div:nth-child(2) {
    width: 200px;
    flex: 1 1 0%;
    display: flex;
    gap: 8px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    font-variant-numeric: lining-nums tabular-nums;
    overflow: hidden;
    padding: 12px 8px
}
.Token_body_el div:nth-child(7){
    justify-content: center;
} 
.Token_body_el_img {
    border-radius: 20px;
}
.Token_body_el div small:nth-child(2){
    font-weight: 500;
    text-align: left;
    color: black;
}

.Token_body_el div small:nth-child(3){
    color: #949494;
}
.Token_body_el div {
    min-width: 133px;
    gap: 1px;
    flex: 1 1 0%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: right;
    -webkit-box-align: center;
    align-items: center;
    font-variant-numeric: lining-nums tabular-nums;
    overflow: hidden;
    padding: 12px 8px;
}

.green{
    color: green;
}.red {
    color: red;
}

.Token_box_chart {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.Token_box_chart_column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.Token_box_pagination {
    padding: 10px;
    display: flex;
    justify-content: center;
}
.Token_box_pagination button {
    display: flex;
    margin: 0 10px;
    color: #fc7fff;
    border: 1px solid #fc7fff;
    background-color:  rgb(255 239 255) ;
    cursor: pointer;
    border-radius: 2rem;
}
.Token_box_pagination button:hover {
    background-color: rgb(254, 192, 255);
}
.Scroll {
    position:fixed;
    -webkit-box-pack: center;
    justify-content: center;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}
.scroll_to_top_button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-box-pack: center;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    background-color:#ffefff;
    color: #fc80ff;
    border: none;
    border-radius: 2rem;
    font-size: 15px;
    padding: .3rem 1rem;
    font-weight: 600;
    box-shadow: 0px 2px 5px rgba(82, 81, 81, 0.3);
    cursor: pointer;
    opacity: 0;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.show {
    opacity: 1;
    visibility: visible;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

@media screen and (min-width:320px) and (max-width: 900px){
    .Token_head div:nth-child(1){
        justify-content: flex-start;
    }
    .Token_title {
       flex-direction: column; 
       gap: 1rem;
    }
}