.chart_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    margin-bottom: 20px;
}
.chart_title_right {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    -webkit-box-align: center;
    align-items: center;
}
.chart_network {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    background-color: rgb(249, 249, 249);
    width: max-content;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 125ms;
    position: relative;
    display: inline-block;
}

.chart_network a{
    color: black;
}

.chart_network .tooltip {
    visibility: hidden;
    width: 60px;
    background-color: #fff;
    color: black;
    box-shadow: 0px 2px 5px rgba(82, 81, 81, 0.3);
    text-align: center;
    border-radius: 10px;
    padding: 7.5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -20px; 
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
    transition: opacity 0.3s;
}

  .chart_network .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
  }
  .chart_network:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
.chart_title_left {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.chart_title_left_left {
    display: flex;
    align-items: center;
}
.chart_title_left_left div:nth-child(1){
    font-size: 20px;
}
.chart_title_left_left div:nth-child(2){
    font-size: 20px;
    color: #8c8c8c;
}
.chart_title_left div:nth-child(1){
    color: #8c8c8c;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.chart_title_left div:nth-child(1):hover{
    opacity: .7;
    cursor: pointer;
}
.chart_title_left div:nth-child(2){
    color: #8c8c8c;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.chart_title_left div:nth-child(2):hover{
    opacity: .7;
    cursor: pointer;
}
.chart_title_left div:nth-child(4){
    color: #8c8c8c;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.chart_network:hover .chart_network_icon{
    opacity: 0.4;
}
.chart_network:hover {
    background-color: #efefef;
}

.chart_box_day_left,.chart_box_day_right_analyst,.chart_box_day_right_price {
    display: flex;
    border: 1px solid rgba(34, 34, 34, 0.07);
    border-radius: 2rem;
    padding: 4px;
    gap: 12px;
}
.chart_box_day_left div{
    display: flex;
    align-items: center;
    padding: 4px 12px;
    border-radius: 1rem;
    cursor: pointer;
    transition: opacity 250ms ease 0s;
    color: rgb(163 163 163);
}

.activeDay {
  border-radius: 1rem;
  background: rgba(34, 34, 34, 0.07);
  cursor: pointer;
  color: black !important;
  transition: opacity 250ms ease 0s;
}

.chart_box_day_box {
    display: flex;
    justify-content: space-between;
}
.chart_box_day_right {
    display: flex;
    align-items: center;
    gap: 12px;
}
.chart_box_day_right div {
    display: flex;
    align-items: center;
}
.chart_box_day_right_analyst div {
    display: flex;
    gap: 4px;
    padding: 6px 14px;
    border-radius: 1rem;
    cursor: pointer;
    transition: opacity 250ms ease 0s;
}
.chart_box_day_right_price div {
    display: flex;
    gap: 4px;
    padding: 4px 4px;
    border-radius: 1rem;
    cursor: pointer;
    transition: opacity 250ms ease 0s;
}

.chart_network_share {
    min-width: 150px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(51, 53, 72, 0.04) 8px 12px 20px, rgba(51, 53, 72, 0.02) 4px 6px 12px, rgba(51, 53, 72, 0.04) 4px 4px 8px;
    border: 0.5px solid rgba(34, 34, 34, 0.07);
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
    position: absolute;
    z-index: 1000;
    animation: 125ms ease-in-out 0s 1 normal none running hYPVna;
    scrollbar-width: thin;
    scrollbar-color: rgba(34, 34, 34, 0.07) transparent;
    width: 200px;
    top: 40px;
    right: 0px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.chart_network_share span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 485;
    gap: 12px;
    height: 40px;
    color: rgb(34, 34, 34);
    cursor: pointer;
}

.chart_network_share span:hover {
    background-color: #f4f5f9;
}