.More {
    width: 295px;
    max-height: 85vh;
    padding: 24px;
    margin-top: 12px;
    margin-bottom: 8px;
    background: rgb(255, 255, 255);
    user-select: none;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(34, 34, 34, 0.07) transparent;
    height: unset;
    border-radius: 12px;
    border: 1px solid rgba(34, 34, 34, 0.07);
    box-shadow: rgba(34, 34, 34, 0.04) 0px 0px 10px 0px;
    position: absolute;
    right: 0px;
    top: 30px;
    bottom: unset;
}
.More_box {
    display: grid;
    gap: 16px;
}
.More_app {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 8px;
}

.More_app a {
    text-decoration: none;
    color: rgb(126 126 126);
}

.More_app_title {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 485;
    font-size: 16px;
    line-height: 24px;
}
.More_box_sperator {
    width: 100%;
    height: 1px;
    background: rgba(34, 34, 34, 0.07);
}
.More_dowload {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.More_dowload a {
    font-size: 12px;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 20px;
}
.More_dowload p {
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 20px;
    color:  rgb(126 126 126);
}
.More_dowload_value {
    align-items: center;
    justify-content: space-between;
}
.More_box_connect {
    display: flex;
    gap: 2rem;
}
.More_box_connect_icon {
    width: 20px;
    height: 20px;
}