.SearchToken {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 11;
}

.SearchToken_box {
    z-index: 10;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid rgba(34, 34, 34, 0.07);
    box-shadow: rgba(51, 53, 72, 0.04) 8px 12px 20px, rgba(51, 53, 72, 0.02) 4px 6px 12px, rgba(51, 53, 72, 0.04) 4px 4px 8px;
    padding: 0px;
    width: 50vw;
    overflow: hidden auto;
    max-width: 420px;
    max-height: 80vh;
    min-height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    z-index: 4;
}

.SearchToken_box_header {
    padding: 20px;
    display: grid;
    grid-auto-rows: auto;
    row-gap: 16px;
    border-bottom: 1px solid rgb(242 242 242);
}

.SearchToken_box_header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}
.SearchToken_box_header_title {
    display: flex;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 535;
    font-size: 16px;
}

.SearchToken_box_header_icon {
    display: flex;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.SearchToken_box_header_box_search {
    position: relative;
    display: flex;
    padding: 16px 16px 16px 40px;;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    outline: none;
    border-radius: 12px;
    color: rgb(34, 34, 34);
    border: 1px solid rgba(34, 34, 34, 0.07);
    appearance: none;
    font-weight: 485;
    font-size: 16px;
    transition: border 100ms ease 0s;
}

.SearchToken_box_header_box_search_icon {
    width: 24px;
    height: 24px;
}

.SearchToken_box_header_box_search input {
    border: none;
    position: relative;
    display: flex;
    height: 40px;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    outline: none;
    border-radius: 12px;
    color: rgb(34, 34, 34);
    appearance: none;   
    font-weight: 485;
    font-size: 16px;
    transition: border 100ms ease 0s;
    background-color: transparent;
}

.SearchToken_box_header_box_network {
    display: flex;
    align-items: center;
    gap: .6rem;
    background-color: rgb(249 249 249); 
    padding: 10px 12px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
/* List Token */
.SearchToken_box_listToken {
    flex-wrap: wrap;
    margin: -4px;
    width: 100%;
    display: flex;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    gap: 4px;
}
.SearchToken_box_listToken span {
    border: 1px solid rgba(34, 34, 34, 0.07);
    border-radius: 18px;
    display: flex;
    padding: 5px 12px 5px 6px;
    line-height: 0px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(34, 34, 34);
    gap: .5rem;
    margin: 4px;
    cursor: pointer;
}

.SearchToken_box_listToken span:hover {
     background-color: rgba(34, 34, 34, 0.07);
}

.SearchToken_box_listToken_img {
    width: 24px;
    height: 24px;
}
.SearchToken_box_listToken_name {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 535;
    font-size: 16px;
}

/* body  */
.SearchToken_box_body {
    overflow-y: auto; /* Cho phép trượt xuống khi cần thiết */
    max-height: 300px; /* hoặc bất kỳ giá trị nào phù hợp với nhu cầu của bạn */
    /* Đảm bảo thanh cuộn chỉ xuất hiện khi cần thiết */
    overflow-y: auto; /* Cho phép trượt xuống khi cần thiết */
    max-height: 300px; /* hoặc bất kỳ giá trị nào phù hợp với nhu cầu của bạn */
    /* Đảm bảo thanh cuộn chỉ xuất hiện khi cần thiết */
    scrollbar-width: thin; /* Cho Firefox */
    scrollbar-color: transparent transparent; /* Cho Firefox */
}
.SearchToken_box_body_title {
    left: 0px;
    top: 0px;
    height: 56px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 390;
    font-size: 14px;
}

.SearchToken_box_body_list {
    /* padding:4px 20px; */
    /* height: 60px; */
    display: grid;
    grid-template-columns: auto minmax(auto, 1fr) auto minmax(0px, 72px);
    gap: 16px;
    cursor: pointer;
    opacity: 1;
}

.SearchToken_box_body_list{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.SearchToken_box_body_list_name {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 4px;
}

.SearchToken_box_body_list_box {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 4px 20px;
}
.SearchToken_box_body_list_img {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
}

.SearchToken_box_body_list_name_token {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-weight: 485;
    font-size: 12px;
    line-height: 16px;
    opacity: .6;
}

@media screen and (min-width:320px) and (max-width:768px) {
    .SearchToken_box{
        width: 350px;
        max-height: 70vh;
        min-height: 70vh;
    }
    .SearchToken_box_header_box_search input{
        text-overflow: none;
    }
}
