.coin_box {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 3rem;
}
.coin_box_linechart {
    display: flex;
    padding-bottom: 100px;
}
.coin_box_heroSection {
    display: flex;
    margin-right:50px;
    max-width: 370px;;
    height: none;
}