@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Caveat:wght@400..700&family=Mitr:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}
html,body {
  padding: 0;
  margin: 0;
  font-family: "Mitr", sans-serif;
  font-weight: 200;
  font-style: normal;
}
:root {
  --genie-colors-neutral1: var(--rgw6ez26);
  --genie-colors-neutral2: var(--rgw6ez27);
  --genie-colors-neutral3: var(--rgw6ez28);
  --genie-colors-surface1: var(--rgw6ez29);
  --genie-colors-surface2: var(--rgw6ez2a);
  --genie-colors-surface3: var(--rgw6ez2b);
  --genie-colors-surface4: var(--rgw6ez2c);
  --genie-colors-surface5: var(--rgw6ez2d);
  --genie-colors-accent1: var(--rgw6ez2e);
  --genie-colors-accent2: var(--rgw6ez2f);
  --genie-colors-scrim: rgba(0,0,0,0.60);
  --genie-colors-success: var(--rgw6eza);
  --genie-colors-critical: var(--rgw6ezb);
}
:root {
    --rgw6ez0: var(--genie-colors-neutral1);
    --rgw6ez1: var(--genie-colors-neutral2);
    --rgw6ez2: var(--genie-colors-neutral3);
    --rgw6ez3: var(--genie-colors-surface1);
    --rgw6ez4: var(--genie-colors-surface2);
    --rgw6ez5: var(--genie-colors-surface3);
    --rgw6ez6: var(--genie-colors-surface4);
    --rgw6ez7: var(--genie-colors-surface5);
    --rgw6ez8: var(--genie-colors-accent1);
    --rgw6ez9: var(--genie-colors-accent2);
    --rgw6eza: #40b66b;
    --rgw6ezb: #ff5f52;
    --rgw6ezc: var(--genie-colors-scrim);
    --rgw6ezd: #fff;
    --rgw6eze: var(--genie-colors-deprecated_accentFailureSoft);
    --rgw6ezf: var(--genie-colors-deprecated_gold);
    --rgw6ezg: var(--genie-colors-deprecated_violet);
    --rgw6ezh: var(--genie-colors-deprecated_modalBackdrop);
    --rgw6ezi: var(--genie-colors-deprecated_stateOverlayHover);
    --rgw6ezj: var(--genie-colors-dropShadow);
    --rgw6ezk: linear-gradient(270deg,#d1d5db,#f6f6f6);
    --rgw6ezl: #24272e;
    --rgw6ezm: rgba(0,0,0,.1) 0px 4px 12px;
    --rgw6ezn: #209853;
    --rgw6ezo: #fa2c38;
    --rgw6ezp: #000;
    --rgw6ezq: #f5f5f5;
    --rgw6ezr: #cbcedc;
    --rgw6ezs: #7f7f7f;
    --rgw6ezt: transparent;
    --rgw6ezu: none;
    --rgw6ezv: #4c82fb;
    --rgw6ezw: #adbcff30;
    --rgw6ezx: #fb118e;
    --rgw6ezy: #530f10;
    --rgw6ezz: #fa2c38;
    --rgw6ez10: #fd766b;
    --rgw6ez11: #eeb317;
    --rgw6ez12: #b17900;
    --rgw6ez13: #5cfe9d;
    --rgw6ez14: #40b66b;
    --rgw6ez15: #1a9550;
    --rgw6ez16: #bdb8fa;
    --rgw6ez17: #7a7beb;
    --rgw6ez18: #f5f6fc;
    --rgw6ez19: #e8ecfb;
    --rgw6ez1a: #d2d9ee;
    --rgw6ez1b: #b8c0dc;
    --rgw6ez1c: #a6afca;
    --rgw6ez1d: #98a1c0;
}